* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 1000px;
  padding: 10px 30px;
  background-color: #fff;
  
  height: 80%; 
  overflow : auto; 
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 3rem
}


/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

.modal img{
    max-width: 700px;
    height: auto;
    width: 100%;
    margin-top:20px;
    margin-bottom:15px;
}

.modal h1{
   font-weight: bold;
   padding:5px;
   border-bottom:2px solid black; 
 }
 
.popup{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}
.popup:hover{
    transform: scale(1.05);
    position: relative;
    z-index: 0;
}