body {
scrollbar-face-color:"black";
scrollbar-arrow-color:"white";
scrollbar-track-color:"black";
scrollbar-highlight-color:"white";
scrollbar-shadow-color:"white";
scrollbar-3dlight-color:"black";
scrollbar-darkshadow-color:"black";}
body,td {
font-size:10pt;
color:black;
font-family: "verdana", "osaka", "ÇlÇr ÉSÉVÉbÉN", sans-serif;
line-height : 18px;}
BR{letter-spacing:normal;}
a{ text-decoration:none; }
a:link{color:#FF99CC;}
a:visited{color:deeppink;text-decoration:underline;}
a:active{color:deeppink}
a:hover{color:white;}
BODY{background-color :white;}
